body, html {
    background-color: #F8F3F2;
    /*box-sizing: border-box;*/
}

.tennis-background-pages-image {
    background-image: url("images/backgroung image-goodOne2.png");
    background-size: 50%;
    background-repeat: no-repeat;
    height: 100vh;
}