body, html {
    background-color: #F8F3F2;
    height: 100%;
    margin: 0;
    font-family: 'calibri', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #F8F3F2;
    direction: rtl; /* Right-to-left for Hebrew text */
    overflow-y: hidden;
}

a {
  color: #F8F3F2;
  text-decoration: none; /* no underline */
}

.tennis-banner {
    position: absolute;
    object-fit: cover;
    width: 70vw;
    height: 70vh;
    left: 0;
    bottom: 0;
}

.tennis-content {
    position: fixed;
    right: 10vw;
    top: 0;
    width: 40vw;
    height: 100vh;
    background: #223d3c;
    transform: skew(160deg);
}

.tennis-line-1 {
    position: fixed;
    bottom: 50vh;
    right: 25.5vw;
    width: 50vw;
    height: 1.3vh;
    transform: rotate(110deg);
    z-index: 1;
}

.tennis-line-2 {
    position: fixed;
    bottom: 71vh;
    left: 0;
    width: 54.5vw;
    height: 1.3vh;
    z-index: 1;
}

.tennis-logo {
    position: relative; /* Position absolutely within the header */
    top: 5%; /* Align to the top */
    left: -60%; /* Align to the left */
    background-image: url("images/i-Tennis logo with background2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30%; /* Set a specific height or as needed */
    width: 30%; /* Set a specific width or as needed */
}

.tennis-menu {
    position: relative;
    top: 15%;
    margin: 10%;
    list-style: none;
}

.tennis-menu li {
    transform: skew(20deg); /* Reverse skew for content */
    position: relative;
    padding: 1.1em;
    text-align: center;
}

.tennis-menu li::after {
    content: ''; /* Required for pseudo-elements */
    display: block; /* Makes it possible to apply width and position */
    margin: 0 10%; /* Centers the pseudo-element */
    width: 70%; /* Adjust this value to control the border length */
    height: 1px; /* Border thickness */
    background: white; /* Border color */
    position: absolute;
    bottom: 0; /* Aligns at the bottom of the list item */
}

.tennis-menu li:hover {
    color: #B9765C; /* Slightly lighter color on hover */
    opacity: 0.7;
}

@media only screen and (min-width: 768px){


}