body, html {
    background-color: #F8F3F2;
    height: 100%;
    margin: 0;
    font-family: 'calibri', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #F8F3F2;
    direction: rtl; /* Right-to-left for Hebrew text */
    overflow-y: hidden;
}

a {
  color: #F8F3F2;
  text-decoration: none; /* no underline */
}

.tennis-banner {
    position: absolute;
    background-image: url("images/istock_000062879576_double.jpg"); /* Add your image path */
    background-size: 70% 70%; /* Image will take up one quarter of the element size */
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 100vh;
    width: 80vw;
    left: 0;
}

.tennis-bannerrrr::before { /*not working!!!!! - suppose to fix the responsiveness*/
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("images/line.png");
    bottom: 50%;
    left: 40%;
    width: 52%;
    height: 40%; /* Adjust the height to be a percentage of the square's width */
    transform: rotate(110deg);
    z-index: 1;
}


.tennis-content {
    position: absolute;
    bottom: 0;
    right: 9%;
    width: 40%;
    height: 100%;
    transform: skew(160deg);
    background: #223d3c;
}

.tennis-line-1 {
    position: absolute;
    bottom: 50%;
    left: 470px;
    width: 52%;
    height: 10px;
    transform: rotate(110deg);
    z-index: 1;
}

.tennis-line-2 {
    position: absolute;
    bottom: 71%;
    left: 0;
    width: 56%;
    height: 10px;
    z-index: 1;
}

.tennis-logo {
    position: relative; /* Position absolutely within the header */
    top: 5%; /* Align to the top */
    left: -60%; /* Align to the left */
    background-image: url("images/i-Tennis logo with background2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30%; /* Set a specific height or as needed */
    width: 30%; /* Set a specific width or as needed */
}

.tennis-menu {
    position: relative;
    top: 23%;
    list-style: none;

}

.tennis-menu li {
    transform: skew(20deg); /* Reverse skew for content */
    position: relative;
    padding: 1.1em;
    text-align: center;
    /* Remove the border-bottom line */
}

.tennis-menu li::after {
    content: ''; /* Required for pseudo-elements */
    display: block; /* Makes it possible to apply width and position */
    margin: 0 10%; /* Centers the pseudo-element */
    width: 70%; /* Adjust this value to control the border length */
    height: 1px; /* Border thickness */
    background: white; /* Border color */
    position: absolute;
    bottom: 0; /* Aligns at the bottom of the list item */
}
