body, html {
    background-color: #F8F3F2;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
}

.tennis-background-pages-image {
    background-image: url("images/backgroung image-goodOne3.png");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: -1vw;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.tennis-logo-pages {
    background-image: url("images/i-Tennis logo with background2.png");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 1vh;
    margin-right: 2vw;
    height: 10vh;
    width: 98vw;
}

.tennis-home-icon {
    background-image: url("images/icons/home.png");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 98.5vh;
    width: 8vw;
    margin-left: -2.5vw;
}

.main-title {
    position: relative;
    text-align: center;
    margin: 2vh;
    font-family: 'calibri', sans-serif;
    font-weight: bold;
    font-size: 5vw; /* Make font size responsive */
    color: #223d3c;
    direction: rtl;
}

.main-title::after {
    content: "";
    position: absolute;
    background-image: url("images/icons/Tennis racket logo transperent.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 20vh;
    width: 12vw;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Wrap squares if not enough horizontal space */
    justify-content: center;
    align-items: center; /* Allow different square sizes to align properly */
    min-height: 100vh;
    margin-top: -8vh;
}

.square {
    width: 30%; /* Adjust the width of squares */
    padding-bottom: 30%; /* padding-bottom to maintain aspect ratio */
    background-color: #223d3c;
    margin: 5%; /* Give some space between the squares */
    position: relative;
    overflow: hidden;
}

/* Pseudo-elements adjusted to be based on the size of the square */
.square::before, .square::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("images/line.png");
}

.square::before {
    top: 95%;
    left: 0;
    width: 100%;
    height: 80%; /* Adjust the height to be a percentage of the square's width */
}

.square::after {
    bottom: 6%;
    right: 85%;
    width: 100%; /* Adjust the width to be a percentage of the square's width */
    height: 80%; /* Adjust the height to be a percentage of the square's width */
    transform: rotate(90deg);
}

/* Adjusted text to be more responsive */
.square-text {
    position: absolute;
    top: 10%; /* Adjust top position */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F8F3F2;
    text-align: center;
    width: 65%; /* Allow some padding within the square */
}

.container h1 {
    margin: 0;
    padding: 1%;
    font-family: 'calibri', sans-serif;
    font-weight: bold;
    font-size: 4vw; /* Make font size responsive */
    color: #F8F3F2;
    direction: rtl;
}

.container h2 {
    margin: 15%;
    font-family: 'calibri', sans-serif;
    font-weight: normal;
    font-size: 1.8vw; /* Make font size responsive */
    color: #F8F3F2;
    direction: rtl;
    text-align: right;
}

.square-text-list {
    position: absolute;
    top: 46%; /* Adjust top position */
    left: 45%;
    transform: translate(-50%, -50%);
    color: #F8F3F2;
    width: 80%; /* Allow some padding within the square */
    font-size: 1.5vw; /* Make font size responsive */
    font-family: 'calibri', sans-serif;
    font-weight: lighter;
    direction: rtl;
    text-align: right;
    padding: 0;
}

.square-text-list li {
    padding: 1% 0; /* Provide padding for each list item */
}


.square-text-form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust as needed */
    direction: rtl;
}

.form-label {
    margin-bottom: 0.5em; /* Space between label and input */
    font-family: 'calibri', sans-serif;
    font-weight: normal;
    font-size: 1.8vw; /* Make font size responsive */
    color: #F8F3F2;
    margin-right: 10%; /* Spacing between label and input, since label comes after input in the DOM */
}

.form-input {
    width: 40%; /* Set to 100% of the parent container */
    height: 30px; /* Increase height for larger input */
    margin-bottom: 1em; /* Space between input fields */
    color: #000000; /* Set text color */
    border: 1px solid #F8F3F2; /* White border around the inputs */
    margin-left: auto; /* Pushes the input to the left side of the flex container */
    border-radius: 10px; /* Rounded edges */
}

.form-submit {
    display: block;
    margin: 1em auto;
    font-family: 'calibri', sans-serif;
    font-weight: bold;
    width: auto; /* Adjust width as needed */
    padding: 10px 5%; /* Responsive padding */
    background-color: #A95D4C; /* Background color */
    color: #F8F3F2; /* Text color */
    border: 2px solid #F8F3F2; /* White border */
    border-radius: 20px; /* Rounded edges */
    cursor: pointer; /* Cursor for button */
    font-size: 1.5vw; /* Responsive font size */
    outline: none; /* Remove focus outline for aesthetics; consider accessibility implications */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
}

.form-submit:hover {
    background-color: #B9765C; /* Slightly lighter color on hover */
    border-color: #EDEDED; /* Lighter border on hover */
}


/* Media Queries */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .square {
        width: 90%; /* Full width for smaller screens */
        padding-bottom: 90%; /* Maintain aspect ratio */
        margin: 5% 0; /* Vertical margin only */
    }

    .square-text, .container h1, .container h2, .square-text-list {
        font-size: 5vw; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 768px) {
    .square-text, .container h1, .container h2, .square-text-list {
        font-size: 6vw; /* Larger font size for very small screens*/}
}


@media (max-width: 768px) {
    .main-title, .form-label, .form-submit {
        font-size: 1.2rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 768px) {
    .main-title, .form-label, .form-submit {
        font-size: 1rem; /* Even smaller font size for very small screens */
    }
}
.schedule-container {
    position: relative;
    display: grid;
    width: 70vw;  /*Set the width of the container to your desired value */
    margin-left: 25vw; /* Center the container horizontally */
    grid-template-columns: repeat(6, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Space between columns */
    padding: 10px;
    background-color: #223d3c; /* Dark green background */
    color: #F8F3F2; /* White text color */
    z-index: 1;
}

.day-column {
    display: grid;
    grid-template-rows: repeat(6, 1fr); /* Header row and 1fr for each session */
    gap: 10px; /* Space between sessions */
    z-index: 1;

}

.date-header {
    padding: 10px;
    background-color: #223d3c; /* Slightly lighter green background for the header */
    text-align: center; /* Center text */
    font-family: 'calibri', sans-serif;
    font-weight: bold;
    font-size: 1.5vw; /* Make font size responsive*/
    z-index: 1;
}

.session {
    padding: 10px;
    background-color: #F8F3F2; /* White background for session */
    color: #000; /* Black text color for session */
    border-radius: 10px; /* Rounded corners for the session blocks */
    text-align: center;
    font-family: 'calibri', sans-serif;
    font-weight: bold;
    font-size: 1.1vw;
    z-index: 1;
}

/* Additional styles for arrows, hovering effects, and responsiveness */
@media screen and (max-width: 768px) {
    .schedule-container {
        grid-template-columns: repeat(3, 1fr); /* Show 3 columns on smaller screens */
    }

    /* Adjust the size of the sessions for smaller screens */
    .session {
        font-size: smaller;
        padding: 5px;
    }
}

.button {
    display: block;
    margin: 1em auto;
    font-family: 'calibri', sans-serif;
    font-weight: bold;
    width: auto; /* Adjust width as needed */
    padding: 10px 5%; /* Responsive padding */
    background-color: #A95D4C; /* Background color */
    color: #F8F3F2; /* Text color */
    border: 2px solid #F8F3F2; /* White border */
    border-radius: 20px; /* Rounded edges */
    cursor: pointer; /* Cursor for button */
    font-size: 1.5vw; /* Responsive font size */
    outline: none; /* Remove focus outline for aesthetics; consider accessibility implications */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
    z-index: 2;
}

.button:hover {
    background-color: #B9765C; /* Slightly lighter color on hover */
    border-color: #EDEDED; /* Lighter border on hover */
}